body{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}

a{
    text-decoration: none;
}

ul{
  margin: 0px;
  padding: 0px;
}

.nav-link{
    box-sizing: border-box;
    background-color: antiquewhite;
    border-bottom: 1px solid #dddddd;
    padding: 30px;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.nav-link li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px 40px;
}

.nav-link li a{
    color: #736B92;
}

.nav-link li a.nav-logo{
    color: #2176FF;
    font-family: 'Amatic SC',sans-serif;
    font-size: 34px;
    padding: 0px 60px;
    text-align: center;
    text-transform: uppercase;
}